<html>

<head>
  <title>Give me the odds</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>

<body>
  <table>
    <tr>
      <th>Upload Form</th>
      <th>Result</th>
    </tr>
    <tr>
      <td>
        <form>
          <table>
            <tr>
              <td>Uploading the Empire json file</td>
            </tr>
            <tr>
              <th>Select File </th>
              <td><input id="json" name="json" type="file" /></td>
            </tr>
            <tr>
              <td>
                <input type="submit" value="Get the Odds !" />
              </td>
            </tr>
          </table>
        </form>
      </td>
    
    <td id="odds_result">
      Not yet calculated
    </td>
  </tr>
  </table>
  <script>

    //form Submit
    $("form").submit(function(evt){   
 
       evt.preventDefault();
       var formData = new FormData($(this)[0]);
 
       $.ajax({
           url: 'get_the_odds',
           type: 'POST',
           data: formData,
           async: false,
           cache: false,
           contentType: false,
           enctype: 'multipart/form-data',
           processData: false,
           success: function (response) {
              $("#odds_result").html(response + "%")
           }
        });
 
        return false;
 
     });
 
 </script>
</body>

</html>